/* Remove the navbar's default rounded borders and increase the bottom margin */
.navbar {
  margin-bottom: 50px;
  border-radius: 0;
}

/* Remove the jumbotron's default bottom margin */
.jumbotron {
  margin-bottom: 0;
}

/* Add a gray background color and some padding to the footer */
footer {
  background-color: #f2f2f2;
  padding: 25px;
}

.items{
  border: solid;
  border-radius: 10px;
  width:200px;
}
.elementMain{
  display: flex;
  flex-wrap: wrap;
}

.card-nounours{
  border: solid;
  height: 270px;
  margin-top: 30px;
}

.footer-nounours{
  border: solid 2px blue;
}

.nounours{
  height: 200px;
  width: 100%;
  object-fit: fit;

}
.cardProducts{
  border: solid;
  text-align: center;
}
ul{
  list-style: none;
}